<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="wrapper">
    <% include ../partials/nav %>

    <section class='top'>
      <h2 class="name">
        <%= data.naam %>
      </h2>
      <h2 class="distance">
        <%= data.afstand %> meter
      </h2>
    </section>
    <time class="time" id="<%= data.startTime %>">
      <% if(data.progress === 0) {%> <%= data.startWith %><% }%>
      <% if(data.progress > 0) {%> <%= data.startTimeInMs %><% }%>
    </time>

    <section class="<%= data.afstand %> <%= data.endTimeInMs %> WRwrapper" id="worldRecord">

    </section>


    <table>
      <tr>
        <th>Afstand</th>
        <th>Tijd</th>
      </tr>
      <% for (let i = 0; i < data.chosenTrack.length; i ++) { %>
      <tr>
        <td class="<%= i %>">
          <%=data.chosenTrack[i].meter%> meter</td>
        <td class="clockedTime" value="<% if(data.progress > 0){ %><%=data.allTimes[i]%><% } %>">
          <% if(data.progress > 0){ %>
          <%=data.allTimes[i]%> sec</td>
        <% } %>
        </td>
      </tr>
      <% } %>





      <section class='forms'>
        <form class="newRound" action="/newRound" method="POST" enctype="application/x-www-form-urlencoded">
          <button tabindex="1" class="<%= data.endTime%>" id="ronde" type="submit"
            <% if(data.progress == data.chosenTrack.length){%> disabled <% } %>>Ronde</button>
        </form>

        <form class="save" action="mailto:someone@example.com" method="POST"
          enctype="application/x-www-form-urlencoded">
          <input type="hidden" value="<%= data.naam %>" name="naam:">
          <input type="hidden" value="<%= data.afstand %>" name="afstand:">


          <% for (let i = 0; i < data.chosenTrack.length; i ++) { %>
          <input type="hidden" value="<%= data.allTimes[i] %>" name="<%= data.chosenTrack[i].meter%>:">
          <% } %>



          <input type="hidden" value="<%= data.endTime %>" name="eindtijd:">




          <button tabindex="2" id="stop" type="submit">Opslaan</button>
        </form>
      </section>

      <% include ../partials/footer %>
  </div>
</body>

</html>